<div class="center">
  <h1>Reservations</h1>
</div>

<div>
  <% @reservations.each do |reservation| %>
    <h3><%= reservation.room_name %> at <%= reservation.hotel_name %></h3>
    <ul>
      <strong>Check In: </strong>
      <%= user_view_reservation_time(reservation.checkin_time) %> on
        <%= user_view_reservation_date(reservation.checkin_date) %><br />
      <strong>Check out: </strong>
      <%= user_view_reservation_time(reservation.checkout_time) %> on
        <%= user_view_reservation_date(reservation.checkout_date) %><br />
      <strong>Rooms: </strong>
      <%= reservation.number_of_rooms %><br />
    </ul>

    <h3>Your Rate</h3>
      <ul>
        <strong>Total Nights: </strong>
        <%= total_nights(reservation) %><br />
        <strong>Average Nightly Rate: </strong>
        <%= number_to_currency(reservation.room.room_rate) %><br />
        <strong>Estimated Total Price: </strong>
        <%= total_price(reservation) %><br />
      </ul>
  <% end %>
</div>
